<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container-fluid mt-4">
                <div class="jumbotron">
                    <div class="overlay"></div>
                    <div class="inner">
                        <div class="container text-light">
                            <h1>About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Donec varius id mi ac aliquet.</strong> Cras at euismod arcu. In sit amet luctus lectus. Pellentesque lobortis augue eu eros feugiat sollicitudin nec vitae sem. Integer quis massa pulvinar, condimentum nisl quis, posuere ipsum. Curabitur elementum tortor sed pulvinar consectetur. Morbi facilisis vehicula blandit. Integer sed nulla nec nibh porttitor vestibulum non non nunc. <i>Pellentesque varius dui at enim tempor, in vehicula odio tincidunt.</i>
                </p>
                <p>
                    Aliquam quis lacinia neque, et mattis nulla. Sed lobortis venenatis libero. Nunc consectetur mi at sapien dictum pulvinar. Aliquam nec lectus semper sem eleifend facilisis. Suspendisse potenti. Nullam ultricies varius ex eget cursus. Sed id ultricies lacus. Suspendisse hendrerit hendrerit est. Praesent volutpat dictum nibh, sed eleifend risus sollicitudin at. Aenean non nulla non erat dapibus ultrices et vel lorem. Curabitur tincidunt purus sed mauris luctus, nec ornare eros vulputate. Sed nec augue scelerisque, eleifend libero eget, dignissim ligula.
                </p>
                <h3><i><strong>Suspendisse facilisis tincidunt orci, sed mattis enim semper vitae.</strong></i></h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-warning mt-3" routerLink="/services">See our Services</button>
            </div>
        </div>
    </div>
</div>