<div class="container-fluid mt-5">
    <div class="row">
        <div class="col">
            <div class="container-fluid mt-5">
                <div class="row text-center">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <fa-icon [icon]="['fas', 'hard-hat']" size="6x"></fa-icon>
                        <br>
                        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra ut ante sit amet bibendum.</p>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <fa-icon [icon]="['fas', 'ruler-combined']" size="6x"></fa-icon>
                        <br>
                        <p class="mt-4">Vestibulum consequat ex sit amet fermentum tincidunt. Nam tempus, dui eu dignissim dapibus.</p>
                    </div>
                    <div class="d-none d-sm-block d-md-none col-sm-2"></div>
                    <div class="d-none d-sm-block d-md-none col-sm-2"></div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <fa-icon [icon]="['fas', 'home']" size="6x"></fa-icon>
                        <br>
                        <p class="mt-4">Fusce commodo erat id aliquet luctus. Curabitur id consequat nulla. In laoreet blandit bibendum.</p>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <fa-icon [icon]="['fas', 'brush']" size="6x"></fa-icon>
                        <br>
                        <p class="mt-4">Curabitur mollis tortor ac iaculis pellentesque. Suspendisse potenti. Sed varius semper ullamcorper.</p>
                    </div>
                    <div class="col-md-2 col-sm-2"></div>
                </div>
            </div>
            <app-testimonials></app-testimonials>
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="col see-services">
                        <div class="overlay"></div>
                        <div class="inner">
                            <button class="btn-lg btn-warning" routerLink="/services">See what we have to offer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>