<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col text-center">
            <h2><span>Testimonials</span></h2>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col text-center">
            <img src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p><i>"I could've gone with a competitor, but the risk on this was too good to pass up."</i></p>
            <p>- Some Dude</p>
        </div>
    </div>
</div>