<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container-fluid mt-4">
                <div class="jumbotron">
                    <div class="overlay"></div>
                    <div class="inner">
                        <div class="container text-light">
                            <h1>Quality Craftsmanship</h1>
                            <h3>On time, every time!</h3>
                            <button type="button" class="btn btn-warning mt-3" routerLink="/about">Learn More</button>
                        </div>
                    </div>
                </div>
                <app-home-body></app-home-body>
            </div>
        </div>
    </div>
</div>
