.jumbotron {
    min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one :-)       */
    background-image: url("https://images.unsplash.com/photo-1513467535987-fd81bc7d62f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1790&q=80");
    background-size: cover;
    position: relative;
    display: grid;
    align-items: center;
}

.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 5px;
}

.jumbotron > .inner {
    position: relative;
    z-index: 2;
    text-align: center;
}

h1 {
    font-size: 48pt;
}
